<html>
  <body>
    <div class="login">
      <h1>FWI Prediction</h1>

      <form
        action="{{ url_for('predict_datapoint') }}"
        method="post"
      >
        <label>Temperature:</label>
        <input
          type="text"
          name="Temperature"
          required
        />
        <br />
        <br />

        <label>RH (Relative Humidity):</label>
        <input
          type="text"
          name="RH"
          required
        />
        <br />
        <br />

        <label>Ws (Wind Speed):</label>
        <input
          type="text"
          name="Ws"
          required
        />
        <br />
        <br />

        <label>Rain:</label>
        <input
          type="text"
          name="Rain"
          required
        />
        <br />
        <br />

        <label>FFMC:</label>
        <input
          type="text"
          name="FFMC"
          required
        />
        <br />
        <br />

        <label>DMC:</label>
        <input
          type="text"
          name="DMC"
          required
        />
        <br />
        <br />

        <label>DC:</label>
        <input
          type="text"
          name="DC"
          required
        />
        <br />
        <br />

        <label>ISI:</label>
        <input
          type="text"
          name="ISI"
          required
        />
        <br />
        <br />

        <label>BUI:</label>
        <input
          type="text"
          name="BUI"
          required
        />
        <br />
        <br />

        <button type="submit">Predict</button>
      </form>

      {% if result is defined %}
      <h2>🔥 The predicted FWI is: {{ result }}</h2>
      {% endif %}
    </div>
  </body>
</html>
